__pycache__
*.pth
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz
*.pth.tar.lzma
processed_dataset
dataset_root
*.safetensors
libtorch
*.onnx
*.pt
*.bin
*.ckpt
build
.DS_store
*.egg-info
finetuned_model
videomae-tiny-binary-finetuned-xd-violence
videomae-base-finetuned-xd-violence
.ipynb_checkpoints
videomae-base-finetuned-sports-videos-in-the-wild/*
videomae-base-finetuned-sports-videos-in-the-wild/
*.mp4
*checkpoint*
events.out.tfevents.*
wandb
tri_model_distillation_*
*.pdf